.nav-links{
  list-style-type: none;
  margin:0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width:60%;
}
nav li{
  margin-left: 1em;
  margin-bottom: 1em;
}
nav{
  text-align: right;
  padding-top: 1em;
  margin:0;
  display: flex;
  justify-content: space-around;
  padding-right: 3em;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
.logo{
  padding-left:1em;
  text-align: left;
  font-size:30px;
  letter-spacing: 3px;
  margin:0;

  padding-top: 0;
  padding-bottom: 0;
  background-color: #f3f3f3;
}

  nav li a {
    color: #666;
    font-size: 25px;
}
  nav li a:hover {
    background-color: #111;
    color:#FFF;
  }
/*
.active {
  background-color: #4CAF50;
} */
.navbar-toggle{
  top:3px;
  padding-bottom: 1em;
  padding-top: 1em;
  position: absolute;
  font-size: 24px;
  right:20px;
  cursor: pointer;
  display: none;
}

/*=========================ADDING MEDIA QUERIES==================================*/
@media screen and (max-width: 1024px)  {
  nav li a {

    font-size: 14px;
}

@media screen and (max-width: 789px)  {

.nav-links{
    display: none;
}

.navbar-toggle{
  display: block;
}
.mob-nav-active{
  position: absolute;
  right:0.5em;


  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  top:60px;
  background-color: #f3f3f3;

  transition: transform 0.5s ease-in;
}
nav li a {

  font-size: 20px;
}
